.footer {
  display: flex;
}

.footer__text {
  color: var(--color-black);
  font-size: 16px;
}

.footer__link {
  color: var(--color-black);
  font-size: 16px;
  text-decoration-color: color-mix(in srgb, currentColor 10%, transparent);
  transition: all .2s ease-in-out;
}

.footer__link:hover {
  text-decoration-color: color-mix(in srgb, currentColor 50%, transparent);
}
