.container {
  padding: 12px;
  box-sizing: border-box;
  max-width: 1710px;
  width: 100%;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  gap: 48px;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  align-items: center;
}

body {
  background: linear-gradient(180deg, #fff 0%, #d6e8f4 100%) no-repeat center /
    cover;
}

button {
  padding: 0;
  background: none;
  border: none;
}


input {
  padding: 0;
}