.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  color: var(--color-black);
  font-size: 40px;
  font-style: italic;
  font-weight: 900;
}

.statistics__number {
  color: var(--color-black);
  font-size: 24px;
}

.statistics__description {
  color: var(--color-black);
  font-size: 12px;
  opacity: 0.5;
}

.statistics__slash {
  color: var(--color-black);
  font-size: 40px;
  font-weight: 100;
  opacity: 0.1;
}

.statistics__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.statistics {
  display: flex;
  gap: 24px;
}

.header__button {
  background: none;
  padding: 8px 16px 8px 8px;
  border: none;
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
  border-radius: 100px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header__button:hover .heaader__button-icon {
  filter: brightness(0) invert(1);
}

.heaader__button-icon {
  transition: all 0.2s ease-in-out;
}

.header__button:hover {
  background: var(--color-black);
}
.header__button:hover .header__button-text {
  color: var(--color-white);
}

.header__button-text {
  color: var(--color-black);
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 580.5px) {
  .header__button {
    padding: 8px;
  }
  .header__button-text {
    display: none;
  }

  .statistics {
    gap: 8px;
  }
}
