.keyboard {
  display: flex;
  width: calc(100% + 24px);
  align-items: center;
}

.keyboard__left {
  display: flex;
  justify-content: center;
  flex: 1;
}

.keyboard__center {
  flex: 4;
  width: 100%;
  background: color-mix(in srgb, var(--color-white) 50%, transparent)
    url("/noise.png") no-repeat center / cover;
  border-radius: min(calc(100dvw * (48 / 2430)), calc(1710px * (48 / 2430)));
}

.keyboard__rows {
  padding: min(calc(100dvw * (24 / 2430)), calc(1710px * (24 / 2430)));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: min(calc(100dvw * (12 / 2430)), calc(1710px * (12 / 2430)));
}

.keyboard__right {
  display: flex;
  justify-content: center;
  flex: 1;
}

.button-icon {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-black);
  background-color: transparent;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon__bg {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  object-fit: cover;
}

.keyboard__key {
  border: none;
  background: var(--color-white);
  border-radius: min(calc(100dvw * (8 / 2430)), calc(1710px * (8 / 2430)));
  padding: min(calc(100dvw * (16 / 2430)), calc(1710px * (16 / 2430)));
  box-sizing: border-box;
  display: flex;
}

.keyboard__row {
  display: flex;
  gap: min(calc(100dvw * (12 / 2430)), calc(1710px * (12 / 2430)));
  width: 100%;
  justify-content: space-between;
}

.keyboard__key_size-96 {
  width: calc(96 * 100% / 1572);
  aspect-ratio: 1 / 1;
}

.keyboard__key_size-168 {
  width: calc(168 * 100% / 1572);
}

.keyboard__key_size-192 {
  width: calc(192 * 100% / 1572);
}

.keyboard__key_size-180 {
  width: calc(180 * 100% / 1572);
}

.keyboard__key_size-240 {
  width: calc(240 * 100% / 1572);
}

.keyboard__key_size-144 {
  width: calc(144 * 100% / 1572);
}

.keyboard__key_size-504 {
  width: calc(504 * 100% / 1572);
}

.keyboard__key_type-text {
  color: var(--color-black);
  font-size: min(calc(100dvw * (19 / 2430)), calc(1710px * (19 / 2430)));
}

.keyboard__key_align-bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.keyboard__key_align-left {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.keyboard__key_align-center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.keyboard__key_align-center:has(span:nth-child(2)) {
  justify-content: space-between;
}

.keyboard__key_align-right {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.keyboard__key_align-bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.keyboard__key_type-letter {
  color: var(--color-black);
  font-size: min(calc(100dvw * (24 / 2430)), calc(1710px * (24 / 2430)));
  align-items: center;
  justify-content: center;
}

.keyboard__key_opacity-20 {
  color: color-mix(in srgb, var(--color-black) 20%, transparent);
}

.icon-arrow {
  opacity: 0.1;
  width: min(calc(100dvw * (34.1 / 2430)), calc(1710px * (34.1 / 2430)));
}

.keyboard__row:first-child .keyboard__key:first-child {
  border-top-left-radius: min(
    calc(100dvw * (32 / 2430)),
    calc(1710px * (32 / 2430))
  );
}

.keyboard__row:first-child .keyboard__key:last-child {
  border-top-right-radius: min(
    calc(100dvw * (32 / 2430)),
    calc(1710px * (32 / 2430))
  );
}

.keyboard__row:last-child .keyboard__key:first-child {
  border-bottom-left-radius: min(
    calc(100dvw * (32 / 2430)),
    calc(1710px * (32 / 2430))
  );
}

.keyboard__row:last-child .keyboard__key:last-child {
  border-bottom-right-radius: min(
    calc(100dvw * (32 / 2430)),
    calc(1710px * (32 / 2430))
  );
}

.rename {
  position: relative;
}

.rename::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: var(--color-black);
  opacity: 0.1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
