.typing {
  text-align: center;
  width: 100dvw;
  overflow-x: hidden;
  position: relative;
}

.typing__input:hover {
  border-bottom: 1px solid
    color-mix(in srgb, var(--color-black) 50%, transparent);
}

.typing__input {
  color: var(--color-black);
  font-size: 40px;
  font-family: "Noto Sans Mono", monospace;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid
    color-mix(in srgb, var(--color-black) 10%, transparent);
  padding-bottom: 24px;
  box-sizing: border-box;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

.typing__input:focus {
  border-bottom: 1px solid var(--color-black);
}

.typing__text {
  display: inline-block;
  position: relative;
}

.typing__phrase {
  color: var(--color-black);
  font-size: 40px;
  font-family: "Noto Sans Mono", monospace;
  background-color: transparent;
  border: none;
  padding-bottom: 24px;
  pointer-events: none;
  opacity: 0.2;
  z-index: 1;
}

.typing__button {
  cursor: pointer;
  animation: animation-blink 1s infinite alternate ease-in-out;
  padding: 16px 24px;
  display: inline-block;
  border-radius: 100px;
  margin-top: 24px;
}

.typing__tranlation {
  opacity: 0.5;
  margin-top: 40px;
}

.typing__translate {
  color: var(--color-black);
  font-size: 24px;
  text-align: center;
  line-height: 145%;
  width: calc((100% + 24px) / 3 * 2);
  margin: 0 auto;
}

.typing__progress {
  width: 100%;
  height: calc(100% - 24px);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
}

.typing__line {
  flex: 1;
}

.typing__line_error {
  background-color: var(--color-red);
  border-radius: 100px;
  position: relative;
}

.typing__line_error + .typing__line_error::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: var(--color-red);
  left: -50%;
}

.typing__btn {
  width: 40px;
  height: 40px;
  background: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 59.5px;
  border-radius: 100px;
  z-index: 1000;
  cursor: pointer;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}

.typing__btn:hover {
  box-shadow: inset 0px 0px 0px 11px var(--color-black);
}