.main {
}

.typing {
  text-align: center;
  width: 100dvw;
  overflow-x: hidden;
}

.typing__input:hover {
  border-bottom: 1px solid
    color-mix(in srgb, var(--color-black) 50%, transparent);
}

.typing__input {
  color: var(--color-black);
  font-size: 40px;
  font-family: "Noto Sans Mono", monospace;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid
    color-mix(in srgb, var(--color-black) 10%, transparent);
  padding-bottom: 24px;
  box-sizing: border-box;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

.typing__input:focus {
  border-bottom: 1px solid var(--color-black);
}

.typing__text {
  display: inline-block;
  position: relative;
}

.typing__phrase {
  color: var(--color-black);
  font-size: 40px;
  font-family: "Noto Sans Mono", monospace;
  background-color: transparent;
  border: none;
  padding-bottom: 24px;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0.2;
  z-index: 1;
}

.typing__translate {
  color: var(--color-black);
  font-size: 24px;
  opacity: 0.5;
  text-align: center;
  line-height: 145%;
  width: calc((100% + 24px) / 3 * 2);
  margin: 0 auto;
  margin-top: 40px;
}

.typing__progress {
  width: 100%;
  height: calc(100% - 24px);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
}

.typing__line {
  flex: 1;
}

.typing__line_error {
  background-color: var(--color-red);
}
